SECRET_KEY=super_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
ACCESS_TOKEN_LIFETIME=15
REFRESH_TOKEN_LIFETIME=50
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=user@mail.com
EMAIL_HOST_PASSWORD=example_password
DEFAULT_FROM_EMAIL=user@mail.com
JWT_SECRET_KEY=secret-random-string-12345
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CSRF_TRUSTED_ORIGINS=http://localhost
CORS_TRUSTED_ORIGINS=http://localhost
