{% extends 'base.html' %}
{% block title %}{{post.title}} - {{block.super}}{% endblock %}

{% block content %}
<article>
    <h1>{{post.title}}</h1>
    <p class="text-muted">
        Опубликовано: {{post.created_at|date:"d.m.Y H:i"}}<br>
        Автор: {{post.author}}
    </p>
    <hr>
    <div class="post-content">
        {{post.content|linebreaksbr}}
    </div>
</article>


<div class="mt-4 ">
    <a href="{% url "blog:post_edit" post.id %}" class="btn btn-outline-secondary">Редактировать статью</a>
    <a href="{% url "blog:post_list" %}" class="btn btn-outline-secondary">К списку статей</a>
    <a href="{% url "blog:categories" %}" class="btn btn-outline-secondary">К списку категорий</a>
</div>

{% endblock %}
