{% extends 'base.html' %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}
    <div class="card col-6 mx-auto">
        <div class="card-body">
          {% if validlink %}
            <h2 class="card-title text-center">Введите новый пароль</h2>
              <form method="post">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="card-text mb-3">
                      <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                          <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                  {% endfor %}
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mx-auto">Подтвердить</button>
                  </div>
                </form>
          {% else %}
            <h2 class="card-title text-center text-danger">Ошибка ссылки</h2>
            <p class="text-center">К сожалению, ссылка для восстановления пароля недействительна</p>
            <div class="text-center">
                <a href="{% url 'users:password_reset' %}" class="btn btn-secondary">Запросить ссылку снова</a>
            </div>
          {% endif %}
        </div>
    </div>

{% endblock %}
